@font-face {
    font-family: "MyCustomFont";
    src: url("../fonts/myfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

.about-section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.about-text h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-text p {
    margin-bottom: 20px;
    font-size: 16px;
}

.about-text p.highlight {
    font-size: 18px;
    font-weight: bold;
    color: #1a1a1a;
}

.about-image img {
    width: 100%;
    border-radius: 12px;
    border: 2px solid #2e8af6;
    /* blue border */
}

/* Responsive */
@media (max-width: 768px) {
    .about-section {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-image img {
        margin-top: 20px;
    }
}