@font-face {
    font-family: "MyCustomFont";
    	src: url("/assets/fonts/myfont.ttf") format("truetype"); 

    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

.features-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    padding: 60px 20px;
    gap: 30px;
    width: 1200px;
}

.feature-box {
    flex: 1;
    max-width: 300px;
}

.feature-icon {
    font-size: 40px;
    color: #0f2d1c;
    /* dark green */
    margin-bottom: 15px;
}

.feature-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.feature-text {
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}

/* Responsive */
@media (max-width: 768px) {
    .feature-text {
        font-size: 12px;
    }
.feature-title{
    font-size: 15px;
}

    .feature-icon {
        font-size: 25px;
    }
}