@font-face {
    font-family: "MyCustomFont";
    src: url("../fonts/myfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

.carousel-container {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
}

.carousel-track {
    display: flex;
    align-items: center;
}

.carousel-slide {
    /* Mobile styles first */
    flex: 0 0 85vw;
    /* Each slide takes up 85% of the viewport width */
    margin: 0 2.5vw;
    /* Creates a 5vw gap between slides */
    opacity: 0.5;
    transform: scale(0.9);
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.carousel-slide.active {
    opacity: 1;
    transform: scale(1);
}

.carousel-slide img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    /* 16px */
    box-shadow: 0 10px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    display: block;
    object-fit: cover;
}

/* Styles for the pagination dots */
.pagination-dots {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.dot {
    margin-top: 50px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #A3B18A;
    /* Inactive color */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    padding: 0;
}

.dot.active {
    background-color: #3A5A40;
    /* Active color */
    transform: scale(1.2);
}


/* Styles for large screens (desktops) */
@media (min-width: 1024px) {
    .carousel-slide {
        flex: 0 0 972px;
        /* Fixed width as requested */
        margin: 0 40px;
        /* 80px gap between slides */
    }

    .carousel-slide img {
        height: 402px;
        /* Fixed height for desktop */
        object-fit: cover;
    }

}

@media (max-width: 1024px) {
    .dot {
        width: 6px;
        height: 6px;
        margin-top: 15px;
    }
}