* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Syne, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    font-size: 16px;
}
.container{
    max-width: 95% !important;
}
body {
    font-family: Syne, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}
@media (max-width: 768px) {
    .success_msgs_home {
        display: none !important;
    }
}

a {
    text-decoration: none;
    color: #007bff;
}

li {
    list-style: none;
}

.dis_fl {
    display: flex;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
    object-fit: fill;
    display: inline-block;
}

.center_wr {
    width: 1450px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

h2 {
    font-size: 33px;
    font-weight: 500;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

h4 {
    font-size: 22px;
    font-weight: 500;
}

h5 {
    font-size: 18px;
    font-weight: 500;
}

h6 {
    font-size: 17px;
    font-weight: 400;
    color: #777;
}

/* -------------------------------- */
/* Header Base Styles */
header {
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 120px;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 11;
    width: 100%;
}

header nav ul {
    gap: 17px;
    list-style: none;
}

header nav ul li a {
    color: #000;
    transition: 0.3s;
    font-weight: 600;
    padding: 10px;
}

header nav ul li a:hover {
    color: #ee2d7a;
}

.responsive_di .header_search {
    display: none;
}

.gap {
    gap: 130px;
}

.logo {
    width: 145px;
}

.header_links a i {
    color: #000;
    font-size: 23px;
    padding: 20px;
    transition: 0.3s;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 21px;
    height: 17px;
    cursor: pointer;
    margin-bottom: 11px;
}

.hamburger span {
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 2px;
}

.nav_links {
    display: flex;
}

.nav_links ul {
    display: flex;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .card-wrapper {
        margin-bottom: 0 !important;
    }

    .responsive_di .header_search {
        display: flex;
    }

    .product-detail p {
        font-size: 12px !important;
        padding: 0 !important;
        opacity: 1 !important;
    }



    .cart-page {
        padding: 8px !important;
    }

    .coupon-section {
        margin-bottom: 0 !important;
        align-items: stretch !important;
        flex-direction: column;
    }

    table th,
    table td{
        padding: 6px !important;
        font-size: 12px !important;
    }
   .product-info p {
        font-size: 12px !important;
        text-align: left !important;
    }

    .checkout_page_container {
        flex-direction: column !important;
    }

    .checkout_page_container {
        border-radius: 5px !important;
        padding: 15px !important;
    }

    .cart-table .product-info {
        gap: 0 !important;
        flex-direction: column;
    }

    .checkout_fst {
        width: 100% !important;
        padding: 10px !important;
        border-radius: 5px !important;
    }

    .checkout_snd,
    .check_fl .form_group {
        width: 100% !important;
    }

    .contact_banner {
        width: 100% !important;
        margin: 0 auto !important;
        flex-direction: column;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 0.5rem !important;
        margin: 0px 0 !important;
    }

    .contact-form .form-group {
        margin-bottom: 1rem !important;
    }

    .contact-form .btn-submit {
        padding: 0.5rem !important;
    }

    .orders-page-container,
    .order-status-container,
    .profile_container {
        width: 100% !important;
        padding: 15px !important;
    }

    .profile-section label {
        font-size: 12px !important;
    }

    .profile-section input,
    .profile-section textarea,
    .profile-section select {
        padding: 6px !important;
        border-radius: 6px !important;
        font-size: 11px !important;
    }

    .profile-section .form-group {
        width: 100% !important;
        margin-bottom: 0 !important;
    }

    .profile-info {
        gap: 0 !important;
        flex-direction: column !important;
    }

    .product-content {
        padding: 1rem !important;
    }

    .product-title {
        font-size: 1.5rem !important;
    }

    .product-detail h2 {
        font-size: 20px !important;
    }

    .sect_head {
        background: url(../images/chota_banner_mt.png) !important;
        margin-top: 67px !important;
        height: 180px !important;
    }

    .contact_info {
        margin-left: 0 !important;
    }

    .contact_info_border h2 {
        display: none;
    }

    .contact_info_border {
        height: 100% !important;
        padding: 10px !important;
    }


    #cart_counter {
        right: 9px;
        padding: 10px;
        width: 20px;
        height: 16px;
        top: 5px;
    }

    .nav_links ul li a {
        padding: 6px 20px !important;
    }

    .nav_links.active {
        padding: 10px 6px !important;
    }

    .product_card::before {
        width: 92% !important;
        height: 89px !important;
        top: 15% !important;
    }

    .product_card .main_button {
        padding: 4px 0 !important;
        font-size: 12px !important;
    }

    .latest_section {
        padding: 50px 0 20px !important;
    }

    .touch_section,
    .traditional_section {
        display: none;
    }

    .header_links {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #ffffff;
        display: flex;
        justify-content: space-between;
    }

    .footer-sec .main {
        margin: 10px !important;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    footer {
        border-top-left-radius: 0 !important;
        top: 0 !important;
    }

    .footer-sec .row {
        margin-top: 0 !important;
        width: 100% !important;
    }

    .center_wr {
        width: 95%;
        margin: 0 auto;
    }

    .product_details_tab_panel h2 {
        font-size: 20px !important;
    }

    .product_details_tab_panel p {
        font-size: 12px;
        margin-top: 10px;
    }

    .touch_section .dis_fl,
    .traditional_section .dis_fl {
        flex-direction: column;
    }

    .traditional_inner_cont,
    .traditional_inner_img,
    .header_search,
    .wi_ce,
    .product_details_tabs_container {
        width: 100% !important;
    }

    .product_card img {
        height: 149px !important;
    }

    .product_card {
        width: 30.5% !important;
    }

    .product_details_tabs_menu {
        gap: 0px !important;
    }

    .product_details_tab_item {
        padding: 10px 0 !important;
        font-size: 11px !important;
    }

    .product_details_tabs_content {
        padding: 1rem !important;
    }

    .header_search {
        border: 1px solid #ccc;
        display: none;
    }

    .traditional_inner_img img {
        height: auto;
    }

    .touch_inner_cont {
        padding: 0 0 !important;
        width: 100% !important;
    }

    .gap {
        gap: 20px;
    }

    .main_banner {
        margin-top: 65px !important;
    }

    .logo {
        width: 80px;
    }

    .hamburger {
        display: flex;
    }

    .nav_links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgba(255, 255, 255, 0.95);
        width: 100%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }

    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .dis_fl {
        width: 100%;
        justify-content: space-between;
    }

    .nav_links ul {
        flex-direction: column;
        gap: 0;
    }

    .nav_links ul li a {
        display: block;
        padding: 15px 20px;
        border-bottom: 1px solid #eee;
    }

    .nav_links ul li a:hover {
        background-color: #f9f9f9;
    }

    .nav_links.active {
        display: flex;
    }
}

.header_search {
    position: relative;
    width: 250px;
}

.text_input {
    padding: 9px;
    width: 100%;
    border: none;
    background-color: #cccccc12;
    border-radius: 5px;
}

.search_button {
    position: absolute;
    right: 8px;
    top: 9px;
    border: none;
    background: transparent;
}

.search_button i {
    font-size: 13px;
}

.main_banner {
    position: relative;
    /*background-image: url(../images/home_test.png);*/
    background-image: url(../images/bt_new1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    margin-top: 117px;
}

.main_banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0, 0, 0, 0.25);*/
    z-index: 1;
}

.main_banner_content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    top: 75%;
    transform: translateY(-75%);
    background: transparent;
}

/* -------------------------------------------------------------- */

.cart_ico {
    position: relative;
}

#cart_counter {
    /*position: absolute;*/
    /*right: 0;*/
    padding: 11px;
    width: 20px;
    height: 24px;
    /*background: #ff9800;*/
    color: #000000;
    border-radius: 78px;
    display: inline-flex;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    flex-direction: row;
}

.nature_section {
    padding: 100px 0 0;
    background-color: #fff;
}

.nature_sect_head {
    text-align: center;
}

.product_card_wrapper {
    display: flex;
    text-align: center;
    padding: 80px 0 0;
    background: transparent;
    gap: 80px;
}

.product_card {
    width: 500px;
}

.product_card img {
    height: 500px;
}

.product-info .dis_fl {
    align-items: flex-end !important;
    gap: 5px !important;
}

/* ---------------------------------------- */

.touch_section {
    background-color: #fff;
}

.touch_inner {
    gap: 30px;
    /* align-items: stretch; */
}

.touch_inner_cont {
    padding: 30px 0;
    width: 40%;
}

.touch_inner_first {
    width: 49%;
}

.main_button {
    padding: 12px 30px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 50px;
    color: #ee2d7a;
    border: 1px solid #ee2d7a;
    margin: 20px 0;
    background: transparent;
    transition: 0.3s;
    cursor: pointer;
}

.touch_inner_cont h5 {
    margin-bottom: 20px;
}

.touch_inner_cont h2 {
    font-size: 56px;
    font-weight: 400;
    line-height: 70px;
    word-spacing: 10px;
}

.touch_inner_cont h2 span {
    color: #ee2d7a;
}

.traditional_section {
    padding: 0 0 30px;
}

.traditional_inner_cont {
    text-align: left;
    width: 43%;
}

.traditional_section .dis_fl {
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.traditional_inner_cont h5 {
    color: #ee2d7a;
    margin: 15px 0;
}

.traditional_inner_img {
    width: 45%;
}

.traditional_inner_img img {
    height: 450px;
}

.traditional_inner_cont h3 {
    margin: 15px 0 30px;
}

.starts_from {
    font-size: 16px;
}

.hover-container {
    position: relative;
}

.starts_from,
.view-details {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease;
    width: 100%;
    margin: 40px 0 20px;
}

.view-details {
    opacity: 0;
    color: #ee2d7a;
}

.hover-container:hover .starts_from {
    opacity: 0;
}

.hover-container:hover .view-details {
    opacity: 1;
}

/* ------------------------------------------------ */

.organic_section {
    position: relative;
    text-align: center;
    padding: 130px 0;
    /*background: url(../images/Home-9.png);*/
    background-position: center;
    background-repeat: no-repeat;
}

.organic_section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(246, 224, 221, 0.5);*/
    z-index: 1;
}

.organic_section * {
    position: relative;
    z-index: 2;
}

.head_icon {
    width: 85px;
    margin: 0 auto;
}

.organic_section h5 {
    color: #ee2d7a;
    margin: 20px 0;
}

.organic_section h2 {
    font-size: 56px;
    font-weight: 400;
    line-height: 70px;
    word-spacing: 10px;
    margin: 20px 0;
}

.organic_section h2 span {
    color: #ee2d7a;
}

.organic_section .wi_ce p {
    font-size: 17px;
}

.wi_ce {
    width: 61%;
    margin: 0 auto;
}

/* ---------------------------------------- */

.latest_section {
    padding: 100px 0 20px;
    text-align: center;
    background-color: #fff;
}

.latest_section h5 {
    color: #ee2d7a;
    margin-bottom: 20px;
}

.product_wrapper {
    padding: 50px 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product-card {
    width: 290px;
    border: 1px solid #ddd;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    position: relative;
    transition: transform 0.3s ease;
}
.slick-slide {
    height: auto !important;
}
.product-card:hover {
    border: 1px solid rgb(189, 54, 54, 0.6);
}
.product-grid.list-view .product-card {
    width: 100%;
}
.product-grid.list-view .product-card a {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}
.image-container {
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.default-image {
    transform: translateX(0);
    z-index: 1;
}

.hover-image {
    transform: translateX(100%);
    z-index: 2;
}

.product-card:hover .default-image {
    transform: translateX(-100%);
}

.product-card:hover .hover-image {
    transform: translateX(0);
}

.product-info {
    padding: 15px;
}

.product-info h3 {
    font-size: 16px;
    color: #00000099;
}



.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    display: inline-block;
    direction: ltr;
}

.star {
    font-size: 17px;
    color: #ccc;
    transition: color 0.3s ease-in-out;
    color: #f5b301;
}

.star:hover,
.star:hover ~ .star {
    color: #f5b301;
}

.rating .star.active,
.rating .star.active ~ .star {
    color: #f5b301;
}

.price_di {
    justify-content: center;
    gap: 20px;
}

.sale_tag {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    z-index: 2;
    background: #4caf50;
    font-size: 13px;
    padding: 2px 7px;
    width: 50px;
}

.new_tag {
    top: 32px;
    background: #cd5c5c;
}

.pagination {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination a {
    text-decoration: none;
    padding: 8px 16px;
    font-size: 14px;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
    background-color: #ee2d7a;
    color: #fff;
}

.pagination a.active {
    background-color: #ee2d7a;
    color: #fff;
}

.pagination a.prev.disabled,
.pagination a.next.disabled {
    color: #ccc;
    pointer-events: none;
    background-color: #f9f9f9;
    border-color: #ddd;
}

.product-card:hover .button-container {
    bottom: 0px;
}

.product-card .button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    transition: 0.3s;
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0;
    padding: 20px 0;
    background: #ffffff;
    border-top: 1px solid #cccccc4c;
}

.product-card .btn {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* ----------------------------- */

.layout-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.product-sidebar {
    width: 20%;
    border-right: 1px solid #ddd;
}

.sidebar-title {
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 10px;
    color: #333;
}

.category-list {
    list-style: none;
    padding: 0;
}

.category-item {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.category-item:hover {
    color: #e91e63;
}

.product-content {
    width: 100%;
}

.content-toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.view-toggle button {
    border: none;
    background-color: #e91e63;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
}

.view-toggle button.active {
    background-color: #333;
}

.sort-dropdown .sort-select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.product-grid {
    display: flex;
    gap: 20px;
}

.product-item {
    width: 30%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    position: relative;
    background-color: #fff;
}

.product-image {
    margin-bottom: 10px;
}

.sale-badge {
    position: absolute;
    top: 10px;
    left: -10px;
    background: #e91e63;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    transform: rotate(-45deg);
    font-weight: bold;
}

.product-name {
    font-size: 16px;
    margin-bottom: 5px;
}

.product-price {
    font-size: 14px;
    color: #333;
}

.price-old {
    text-decoration: line-through;
    color: #999;
}

.sect_head {
    position: relative;
    background: url(../images/chota_banner_dt.png);
    height: 300px;
    margin-top: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sect_head::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.sect_head * {
    position: relative;
    z-index: 2;
}
.product_name{
    font-size: 20px;
    font-weight: 400;
    color: #32304E;
}
/* ----------------------------------footer-------------------------------- */

footer {
    color: #fff;
    /* background-image: linear-gradient(90deg, rgba(39, 27, 111, 1) 0%, rgba(87, 25, 45, 1) 100%); */
    background-color: #fdefe1;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
    border-top-left-radius: 70px;
    color: #000;
}

@media (max-width: 960px) {
    footer {
        width: 100%;
        top: 120px;
    }

    .main {
        margin: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .logo {
        grid-column: 1/3;
    }

    .office {
        grid-column: 3/5;
    }

    .link {
        grid-column: 1/3;
    }
}

@media (max-width: 660px) {
    .main {
        gap: 10px;
        margin: 0;
    }

    .icons {
        display: flex;
    }

    .row {
        grid-column: 1/4;
    }
}

.manik {
    width: 120px;
}

.main {
    margin: 50px;
    padding-top: 20px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.row {
    margin-top: 50px;
}

.footer-header {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.office-des {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.office a {
    text-decoration: none;
    color: #98a8f8;
}

.office a:hover {
    color: #fff;
}

.num {
    font-size: 1rem;
    font-weight: 500;
}

.link-des {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link-des a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
}

.link-des a:hover {
    color: #fb2576;
    transition: linear 0.3s;
}

.btn-know {
    text-decoration: none;
    background-color: #fff;
    padding: 10px;
    position: relative;
    top: 30px;
    background-color: transparent;
    border: 1px solid #98a8f8;
    color: #98a8f8;
    text-transform: uppercase;
    border-radius: 10px;
}

.btn-know:hover {
    color: white;
    background-color: #98a8f8;
    transition: linear 0.3s;
}

.subcribe {
    display: flex;
}

input[type="mail"] {
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    background-color: transparent;
    font-size: 0.8rem;
}

.sub-icon {
    margin: 7px;
    margin-right: 15px;
    margin-left: 0;
    font-size: 1.5rem;
}

.ri-arrow-right-line {
    margin-left: 0;
}

.icons a {
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    align-items: center;
    font-size: 1.1rem;
    margin: 2%;
}

.social-icon {
    position: relative;
    top: 2px;
}

.icons a:hover {
    color: #fff;
    background-color: #fb2576;
    border-color: #fb2576;
}

.newsletter-des {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.copyright {
    text-align: center;
}

hr {
    width: 90%;
    margin: 2px auto;
    opacity: 40%;
    border: 0.01px solid #000;
}

.copyright p {
    padding: 20px;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */
.nature_section {
    padding: 50px 0 0;
    background-color: #fff;
}

.nature_sect_head {
    text-align: center;
}

.pro_upper_sect {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.product_card .main_button {
    margin-top: 10px;
    display: block;
}

.main_button:hover {
    background: #ee2d7a;
    color: #fff;
}

.product_card_wrapper {
    display: flex;
    text-align: center;
    padding: 50px 0 0;
    background: transparent;
    gap: 20px;
    justify-content: space-around;
}

.product_card {
    position: relative;
    width: 18.5%;
    z-index: 5;
    transition: background-color 0.3s ease;
}

.product_card img {
    width: 100%;
    transition: transform 0.3s ease;
}

.product_card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 260px;
    border-radius: 50%;
    background: linear-gradient(45deg, #a2917b, #b9a98b, #d0b99b);
    top: 26%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    transition: all 0.5s ease;
    animation: bounce 0.6s ease;
}

.product_card:hover::before {
    width: 100%;
    height: 100%;
    border-radius: 0%;
    top: 0;
    left: 50%;
}

.product_card:hover img {
    transform: scale(0.9);
}

/* Bounce Animation */

@keyframes bounce {
    0%,
    100% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.2);
    }
}

.product_card img {
    width: 100%;
}

/* --------------------------------contact_section-------------------------------- */

.contact_section {
    padding: 50px 0;
   
}

.contact-form-container {
    background: #ffffff;
    padding: 4rem 6rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.contact-form-container h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #555;
}

.contact-form .form-group {
    margin-bottom: 1.5rem;
}

.contact-form label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #555;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1.4rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    color: #000;
    margin: 10px 0;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #007bff;
}

.contact-form .btn-submit {
    background: #000;
    color: #fff;
    padding: 1.4rem;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.contact-form .btn-submit:hover {
    background: #0056b3;
}

.contact_banner {
    display: flex;
    width: 80%;
    margin: 80px auto;
    align-items: center;
}

.contact_info {
    padding: 10px;
    background: #fdefe1;
    height: fit-content;
    margin-left: -60px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-info a {
    display: block;
    color: #000;
}

.contact_info_border {
    border: 2px dashed rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 100px 80px;
}

@media (max-width: 768px) {
    .contact-form-container {
        padding: 1rem;
    }

    .contact-form-container h1 {
        font-size: 1rem;
    }

    .main_banner {
        background-image: url(../images/bade_banner_mt/mobile_banner.png) !important;

        height: 300px !important;
    }
    .shop_now_btn {
        padding: 4px 6px !important;
        font-size: 10px !important;
        width: 100px !important;
    }
}

/* -----------------------------------product details page -------------------------------------- */

/*.product_details_section {*/
/*    padding: 100px 50px 0;*/
/*}*/

.card-wrapper {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 88px;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    min-width: 100%;
}

.img-select {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.img-item {
    margin: 0.3rem;
    width: 50px;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.talismans_presence{
    font-family: Syne, sans-serif !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: 1.5 !important;
color: #32304E !important;
}
.img-item:hover {
    opacity: 0.8;
}

.product-content {
    padding: 2rem 1rem;
    text-align: center;
}

.product-title {
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    color: #0a1e33;
    margin: 0.5rem 0;
}
.product_disc{
    font-size:15px;
    text-align:justify;
     width:80%;
      margin: 20px auto 0;
    color: rgba(50,48,78);
}
.product-variants{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    align-items: flex-start;
    justify-content: space-evenly;
}
.color-variant{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.purchase-info-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}
.color-variant p{
    font-size: 15px;
    color: #0a1e33a6;
    margin-bottom: 0;
    margin-bottom: 6px;

    font-weight: 100;
}
.note_submit input{
    padding: 4px 25px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.add_note_form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;
}
.size-variant p   {
    font-size: 15px;
    color: #0a1e33a6;
    margin-bottom: 0;
    font-weight: 100;
    margin-bottom: 8px;
}

.product-rating {
    color: #ffc107;
}

.product-rating .average-rating__stars p {
    color: #252525;
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
}

.product-price span {
    font-weight: 400;
}

.last-price span {
    color: #f64749;
    text-decoration: line-through;
    font-size: 12px;
}

.new-price span {
    color: #4e4e4e;
    font-size: 20px;
    font-weight: 400;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.product-detail ul {
    padding-left: 0 !important;
    font-size: 0.9rem;
}

.product-detail ul li {
    margin: 0;
    list-style: none;
    /*background-size: 18px;*/
    /*padding-left: 1.7rem;*/
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.product-detail ul li span {
    font-weight: 400;
}

.purchase-info {
    width: 50%;

}
/* .sr-headless-checkout{
    width: 50%;
} */
.purchase-info input,
.purchase-info .btn {
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    /* margin-right: 0.2rem;
    margin-bottom: 1rem; */
}

.purchase-info input {
    width: 60px;
}

.purchase-info .btn {
    cursor: pointer;
    color: #fff;
}

.purchase-info .btn:first-of-type {
    background: #256eff;
}

.purchase-info .btn:last-of-type {
    background: #f64749;
}

.purchase-info .btn:hover {
    opacity: 0.9;
}

@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .5rem;
        justify-items: center;
        align-items: start;
    }

    .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.product_details_tabs_container {
    width: 100%;
    /* max-width: 700px; */
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 auto;
}

.product_details_tabs_menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.product_details_tab_item {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: #000000d4;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-weight: 100;
    font-size: 20px;
}

.product_details_tabs_content {
    padding: 1.5rem;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.product_details_tab_panel {
    display: none;
}

.product_details_tab_panel.active {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* -----------------------cart page---------------------------------- */

.cart-page {
    max-width: 90%;
    margin: 20px auto;
    /* padding: 20px; */
    /* background: #fff; */
    /* border-radius: 10px; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.cart-container {
    overflow-x: auto;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th,
.cart-table td {
    text-align: left;
    padding: 5px 15px;
    border-bottom: 1px solid #ddd;
}

.cart-table th {
    background-color: #f8f8f8;
    font-weight: bold;
}

.cart-table .product-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.btn.add-to-cart-btn,
.add-to-wishlist-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.add-to-wishlist-btn {
    background-color: #ff5722 !important;
}

.btn.add-to-cart-btn i,
.add-to-wishlist-btn i {
    margin-right: 8px;
    /* Space between icon and text */
    font-size: 16px;
}

.btn.add-to-cart-btn:hover {
    background-color: #0056b3;
}

.add-to-wishlist-btn:hover {
    background-color: #e64a19 !important;
}

.btn.add-to-cart-btn:active {
    background-color: #003d80;
    transform: scale(0.98);
    /* Add a slight press effect */
}

.product-info img {
    width: 120px;
}

.cart-totals h3 {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
}

.subtotal_l {
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 20px;
}

.price,
.subtotal,
.quantity input {
    text-align: left;
}

.quantity input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remove {
    color: #ff4d4d;
    cursor: pointer;
}

.update-cart,
.apply-coupon {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff009c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.update-cart:hover,
.apply-coupon:hover {
    background-color: #d05c87;
}

.coupon-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.coupon-section input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart-totals {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}

.cart-totals span {
    display: inline-block;
    width: 150px;
}

.change_add {
    cursor: pointer;
    margin: 10px 0;
}

.change_add:hover {
    text-decoration: underline;
}

/* ----------------------------- register form ------------------------------- */

.user_register_form,
.user_login_form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    margin: 145px auto 0;
}

.user_register_form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.user_register_form .input-group {
    margin-bottom: 15px;
}

.user_register_form .input-group label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.user_register_form .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.user_register_form .input-group input:focus {
    outline: none;
    border-color: #007bff;
}

.user_register_form .submit-btn {
    text-align: center;
}

.user_register_form .submit-btn button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.user_register_form .submit-btn button:hover {
    background-color: #0056b3;
}

.user_login_form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.user_login_form .input-group {
    margin-bottom: 15px;
}

.user_login_form .input-group label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.user_login_form .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.user_login_form .input-group input:focus {
    outline: none;
    border-color: #007bff;
}

.user_login_form .submit-btn {
    text-align: center;
}

.user_login_form .submit-btn button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.user_login_form .submit-btn button:hover {
    background-color: #0056b3;
}

.user_login_form .forgot-password {
    text-align: center;
    margin-top: 15px;
}

.user_login_form .forgot-password a,
.user_register_form .forgot-password a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

.user_login_form .forgot-password a:hover,
.user_register_form .forgot-password a:hover {
    text-decoration: underline;
}

.in_stock {
    border: 1px solid #ccc;
    color: #000000b8;
    padding: 8px 34px;
    text-align: center;
    width: fit-content;
    font-size: 16px;
}

.main_price {
    text-decoration: line-through;
    font-size: 12px !important;
    color: red !important;
}

/* -------------------------------checkout page------------------------------- */

.checkout_page_container {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.checkout_page_title {
    font-size: 2rem;
    text-align: center;
    color: #007bff;
}

.checkout_section {
    margin-bottom: 2rem;
}

.section_title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.checkout_form .form_group {
    margin-bottom: 0.5rem;
}

.checkout_form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.checkout_form input,
.checkout_form select {
    width: 100%;
    padding: 0.5rem;
    font-size: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.checkout_form input:focus,
.checkout_form select:focus {
    border-color: #007bff;
    outline: none;
}

.payment_methods label {
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.order_summary {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.product_image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 1rem;
}

.order_item_details {
    flex: 1;
}

.order_total {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: right;
    padding-top: 1rem;
}

.checkout_button {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout_button:hover {
    background-color: #0056b3;
}

.checkout_button:focus {
    outline: none;
}

.hidden {
    display: none;
}

/* -----------------my orders page------------------------------------------------ */

.orders-page-container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

.orders-page-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.orders-list {
    display: flex;
    flex-direction: column;
}

.order {
    background-color: #fafafa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.order-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.order-header h2 {
    font-size: 22px;
    color: #333;
}

.order-header .order-date {
    font-size: 14px;
    color: #777;
}

.order-details {
    display: flex;
    flex-direction: column;
}

.order-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.order-item:last-child {
    border-bottom: none;
}

.order-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
}

.order-item-info {
    flex-grow: 1;
}

.product-name {
    font-weight: bold;
    font-size: 16px;
}

.product-quantity,
.product-price {
    font-size: 14px;
    color: #555;
}

.order-summary {
    margin-top: 20px;
}

.order-status,
.order-payment,
.order-total {
    margin-bottom: 10px;
}

.status-shipped {
    color: #4caf50;
    font-weight: bold;
}

.status-delivered {
    color: #2196f3;
    font-weight: bold;
}

.payment-method {
    font-weight: bold;
}

.total-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* ---------------------------------------order status--------------------------------- */

.order-status-container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.order-status-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.order-status-section {
    margin-top: 20px;
}

.order-status-section h3 {
    font-size: 22px;
    font-weight: bold;
}

.status {
    font-size: 18px;
    color: green;
    font-weight: bold;
}

.estimated-date {
    font-size: 16px;
    font-weight: 600;
}

.tracking-number {
    font-size: 16px;
    color: #2196f3;
    font-weight: 600;
}

.track-shipment-btn {
    padding: 10px 15px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.track-shipment-btn:hover {
    background-color: #1976d2;
}

.tracking-info {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.tracking-info.hidden {
    display: none;
}

#tracking-status,
#tracking-location,
#tracking-estimated-delivery {
    font-size: 16px;
    margin-bottom: 10px;
}

.order-items {
    margin-top: 20px;
}

.order-items ul {
    list-style-type: none;
    padding: 0;
}

.order-items li {
    margin-bottom: 10px;
}

.order-summary-details {
    margin-top: 20px;
}

.order-summary-details h3 {
    font-size: 20px;
    font-weight: bold;
}

.order-summary-details p {
    font-size: 16px;
}

.customer-service {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
}

.rating_da_na {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

/*--------------------------------user profile---------------------------*/

.profile_container {
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.profile-header h1 {
    font-size: 26px;
    font-weight: 700;
}

.profile-header .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-header .btn:hover {
    background-color: #0056b3;
}

.profile-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

#edit-profile-btn i {
    margin-right: 8px;
    font-size: 16px;
}

#profile-form {
    padding: 20px 0 0;
}

.profile-info {
    flex-basis: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 40px;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-section .profile-info button {
    margin-top: 10px;
    background-color: #28a745;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.profile-section .form-group {
    width: 49%;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}

.profile-section label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-section input,
.profile-section textarea,
.profile-section select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border-color 0.3s;
}

.profile-section input:focus,
.profile-section textarea:focus {
    border-color: #007bff;
}

.profile-section textarea {
    resize: vertical;
}

.profile-section button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
}

.profile-section button[type="submit"]:hover {
    background-color: #0056b3;
}

.order-history-section h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.order-filter {
    margin-bottom: 15px;
}

#order-status-filter {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 200px;
    font-size: 14px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #f8f8f8;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    .profile-info {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .form-group {
        width: 100%;
    }

    .main_review_section {
        flex-direction: column !important;
    }
}
.product_name_resp {
    display: none;
}

@media (max-width: 500px) {
    .product_name_resp {
        display: block;
    }
    .product_name_desk {
        display: none;
    }
    .image-container {
        height: 180px;
    }
    #product-grid .product-card {
        width: 100%;
    }
    .product-slide .product-card {
        width: 148px !important;
    }
    .product-content {
        padding: 0 !important;
    }
    .product-name {
        font-size: 0.8em;
    }
    .header_links a i {
        font-size: 18px !important;
    }
    #cart_counter {
        padding: 9px;
        width: 9px;
        height: 18px;
        font-size: 12px;
    }
    .sort-dropdown .sort-select {
        padding: 5px;
        font-size: 13px;
    }
    .star {
        font-size: 15px;
    }
    .rating_nu {
        font-size: 12px;
    }
    .sale_tag {
        font-size: 10px;
        padding: 2px 2px;
    }
    .product-info h3 {
        font-size: 12px;
    }
    .product-info {
        /*padding: 4px 0 35px;*/
    }
    .product-card .button-container {
        bottom: 15px;
        z-index: 2;
        display: none;
    }
    .product-sidebar {
        width: 100%;
        border-right: none !important;
        padding: 0 !important;
    }
    .product-sidebar {
        padding: 0;
    }
    .category-item {
        font-size: 0.7em !important;
        padding: 5px 0 !important;
    }
    .category-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .slick-prev,
    .slick-next {
        display: none !important;
    }

    .product-card .btn {
        padding: 5px;
        font-size: 0;
        color: #ee2e7a;
        background: none !important;
        margin-right: 20px;
    }
    .add-to-wishlist-btn,
    .btn.add-to-cart-btn {
        padding: 5px;
        font-size: 0;
        color: #ee2e7a;
        background: none !important;
        margin-left: 23px;
    }
    .product-card .button-container {
        left: 0;
        right: 0;
        padding: 0px 0;
        border-top: none;
        bottom: 4px;
    }
    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 20px !important;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }
}

.about_section {
    padding: 20px;
}

.about_sect {
    padding: 50px 20px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    border-radius: 8px;
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
}

.about_sect:nth-child(even) {
    background-color: #fff;
}

.about_sect h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #ee2e7a;
}

.about_sect p {
    font-size: 1rem;
    line-height: 1.8;
    color: #555;
}

.about_sect-images .about_sect-content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.about_sect-images .about_sect-content:nth-child(even) {
    flex-direction: row-reverse;
}

.about_sect-text {
    flex: 1;
    padding: 20px;
}

.about_sect-image {
    flex: 1;
    text-align: center;
}

.about_sect-image img {
    max-width: 100%;
    border-radius: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about_sect {
        padding: 30px 15px;
    }

    .about_sect h2 {
        font-size: 1.5rem;
    }

    .about_sect p {
        font-size: 0.95rem;
    }

    .about_sect-images .about_sect-content {
        flex-direction: column;
        text-align: center;
    }

    .about_sect-images .about_sect-text {
        padding: 10px;
    }
}

/*----------------------------------------------------Product and review form-----------------------------------------------*/
.main_review_section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    width: 95%;
    margin: 0 auto;
}

.fetched_rewiews_cont {
    width: 70%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-container1,
.review-container2 {
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 0 10px;
}

.review-title {
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.3rem;
    color: #333;
}

.review-form {
    display: flex;
    flex-direction: column;
}

.review-form-group {
    margin-bottom: 15px;
}

.review-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.review-input,
.review-textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.review-input:focus,
.review-textarea:focus {
    border-color: #007bff;
}

.review-textarea {
    resize: vertical;
    min-height: 100px;
}

.reviews-with-images {
    padding-bottom: 21px;
    border-bottom: 1px solid #ccc;
}

.average-rating__stars {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    justify-content: center;
}

.rating__group:focus-within {
    outline: 1px solid #4a90e2;
}

.rating__star {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 14px;
    font-size: inherit;
    appearance: none;
    background-size: 16px 14px;
}

.rating__star:not(:last-child) {
    margin-right: 2px;
}

.rating__star:nth-of-type(1) {
    z-index: 5;
    width: 16px;
}

.rating__star:nth-of-type(2) {
    z-index: 4;
    width: 32px;
}

.rating__star:nth-of-type(3) {
    z-index: 3;
    width: 48px;
}

.rating__star:nth-of-type(4) {
    z-index: 2;
    width: 63px;
}

.rating__star:nth-of-type(5) {
    z-index: 1;
    width: 79px;
}

.rating__star:focus {
    outline: none;
}

.reviews-info__title {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 22px;
    color: #1e212c;
}

.reviews-info .rating {
    margin-bottom: 20px;
}

.reviews-info__caption {
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: #787a80;
    margin: 0 0 10px;
}

.reviews-bar__list {
    display: flex;
    flex-direction: column;
}

.reviews-bar__item {
    display: flex;
    align-items: center;
}

.reviews-bar__item:not(:last-child) {
    margin-bottom: 8px;
}

.progress-bar {
        display: flex
;
    flex-direction: row !important;
    overflow: hidden;
    /* color: var(--bs-progress-bar-color); */
    text-align: left !important;
    /* white-space: nowrap; */
    background-color: var(--bs-progress-bar-bg);
    transition: var(--bs-progress-bar-transition);
    justify-content: flex-start;
}

.progress-bar__star {
    margin-right: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787a80;
}

.progress-bar__outter-line {
    overflow: hidden;
    position: relative;
    width: 356px;
    height: 4px;
    border-radius: 40px;
    background-color: #e5e8ed;
}

.progress-bar__inner-line {
    position: absolute;
    height: 4px;
    border-radius: 40px;
}

.progress-bar__inner-line--excellent {
    background-color: #03cea4;
}

.progress-bar__inner-line--good {
    background-color: #1fdf58;
}

.progress-bar__inner-line--normal {
    background-color: #f2ea2b;
}

.progress-bar__inner-line--not-bad {
    background-color: #f89828;
}

.progress-bar__inner-line--bad {
    background-color: #ff4242;
}

.progress-bar__quantity {
    margin-left: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787a80;
}

.product-gallery {
    overflow: hidden;
    border-radius: 4px;
    width: 390px;
    max-height: 500px;
}

.product-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews-images-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.review-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.review-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.modal-review-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.rating-stars {
    color: gold;
    font-size: 18px;
}

.fetched_rewiews_cont .rating {
    margin-top: -10px;
}

.fetched_rewiews_cont .user-info {
    display: flex;
    align-items: center;
}

.fetched_rewiews_cont .user-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.fetched_rewiews_cont .rating_product_img img {
    width: 200px;
    height: 200px;
    margin-right: 10px;
}

.fetched_rewiews_cont .user-name {
    font-weight: bold;
    font-size: 13px;
}

.rat_title {
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.rating_title {
    font-size: 18px;
    font-weight: 500;
}

.fetched_rewiews_cont .rating {
    font-size: 18px;
    display: inline-block;
    color: #ffc700;
    direction: ltr;
    margin-right: 13px;
}

.fetched_rewiews_cont .star {
    color: #ccc;
    font-size: 20px;
}

.fetched_rewiews_cont .star.filled {
    color: #ffc700;
}

.fetched_rewiews_cont .review {
    border-bottom: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    justify-content: space-around;
    padding: 0 0.2em;
    text-align: center;
    width: 5em;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
}

.star-rating :checked ~ label {
    color: #f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #fc0;
}

article {
    background-color: #ffe;
    box-shadow: 0 0 1em 1px rgba(0, 0, 0, 0.25);
    color: #006;
    font-family: cursive;
    font-style: italic;
    margin: 4em;
    max-width: 30em;
    padding: 2em;
}

.review-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.review-btn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .progress-bar__outter-line {
        width: 216px !important;
    }

    .fetched_rewiews_cont {
        width: 100%;
    }

    .review-title {
        font-size: 1.3rem;
    }

    .review-btn {
        font-size: 0.9rem;
        padding: 8px;
    }

    .reviews-with-images h3 {
        font-size: 1.3rem !important;
        margin: 10px 0 !important;
    }

    .rat_title {
        flex-direction: column;
    }

    .review p {
        font-size: 12px;
    }

    .fetched_rewiews_cont .rating_product_img img {
        width: 150px;
        height: 120px;
    }
}
/*FAQ style*/
	.faq-section {
	/*background-color: #faf7f2;*/
	}
	.accordion-button {
	background-color: white;
	color: #333;
	font-weight: 500;
	padding: 1.25rem;
	box-shadow: 0 2px 10px rgba(0,0,0,0.05);
	border-radius: 8px !important;
	}
	.accordion-button:not(.collapsed) {
	background-color: white;
	color: #b78d65;
	box-shadow: 0 2px 15px rgba(0,0,0,0.1);
	}
	.accordion-button:focus {
	box-shadow: 0 0 0 0.25rem rgba(183, 141, 101, 0.25);
	border-color: #b78d65;
	}
	.accordion-body {
	padding: 1.5rem;
	background-color: white;
	border-radius: 0 0 8px 8px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.05);
	}
	.accordion-item {
	border-radius: 8px;
	overflow: hidden;
	}
